html {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: bisque;
}

/* Gap between sections */

.padding {
    display: flex;
    margin: 1rem auto auto auto;
    background-color: black;
    justify-content: center;
    border-radius: 25px;
    width: 50%;
    padding: 25px;
}

/* header */

.header {
    width: 100%;
    background-color: lightblue;
    display: flex;
    color: white;
}

.header h2 {
    padding-left: 25px;
}

.nav {
    width: 100%;
}
.nav-item {
    float: right;
    vertical-align: bottom;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.nav-item a {
    color: white;
}

.mobile {
    display: none;
  }

/* Top Section*/

.main {
    padding-top: 50px;
    background-image: url("img/background1.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main-items img {
    height: 250px;
    float: left;
    padding: 15px 15px 15px 5px;
}


.main-items {
    width: 500px;
    height: 100%;
    border-radius: 25px;
    background-color: black;
    margin: 10px;
    padding: 20px;
    color: white;
}

.card-desc {
    
    padding: 25px 0 0 25px;
}

/* Events */

.events {
    display: flex;
    flex-wrap: wrap;
    color: white;
    
}

.events h2 {
    color: white;
    font-size: 2rem;
    align-content: left;
}

.events i {
    padding-right: 15px;
}

.event-items {
    
    margin: 10px;
    padding: 20px;
    color: white;
    

}

.event-loc {
   
    padding-left: 60px;
}
/* About US */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.about img {
    height: 150px;
    border-radius: 25px;
    float: left;
    flex-basis: 40%;
}

.about-items {
    padding-left: 60px;
}

/* footer */

.footer {
    
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    color: white;

}

.foot{
  
    align-content: center;
    
}

/* Mobile */

@media only screen and (max-width: 700px){
   
    .header .mobile {
        display: block;
        width: 100%;
        font-size: 1rem;
    }
    .header h2{
        display: none;
    }
    .nav {
        display: none;
    }
    
    .header {
        align-content: center;
        justify-content: center;
    }

    .nav-item {
        align-content: center;
        justify-content: center;
        color: white;
        gap: 1rem;
        font-weight: bold;
        font-size: 2rem;
    }

    .padding {
            display: flex;
            margin: 0 0 0 0;
            border-radius: 0px;
            background-color: black;
            justify-content: center;
            width: 100%;
            padding: 25px;
    }
    .footer .foot {
        display:none;
    }
    body{
        margin: 0;
        padding: 0;
        border: 0;
        background-color: black;
    }
}
